
hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    prefix:   /connect

hwi_oauth_login:
    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
    prefix:   /login

facebook_login:
    path: /login/check-facebook
    defaults:
        _controller: 'HWIOAuthBundle:Connect:connect'

google_login:
    path: /login/check-google
    defaults:
        _controller: 'HWIOAuthBundle:Connect:connect'

github_login:
    path: /login/check-github
    defaults:
        _controller: 'HWIOAuthBundle:Connect:connect'
