{% extends '::base.html.twig' %}

{% block body %}
    <div id="login_form">
        {% if error %}
            <div class="form-error-block alert alert-danger">
                {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endif %}
    {{ form(form) }}
    </div>

{% endblock %}